# Яндекс Почта SMTP
# 1. Зайди на mail.yandex.ru → Настройки → Безопасность → Пароли приложений
# 2. Создай пароль для приложения "Почтовый клиент" tmvrhxmekbgazzxj
# 3. Вставь ниже kxabwqmzmnkmgnfn

SMTP_USER=mail
SMTP_PASS=pass
NOTIFY_EMAIL=mail
